{% extends 'base.html' %}
{% load static %}

{% block content %}

<section >
    <div class="container mt-3">
        {% include 'includes/alerts.html' %}
        <div class="row g-0 g-lg-2">
            
                <!-- avatar card -->
                <div class="col-lg-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body text-center">
                            {% if user_profile.profile_picture %}
                            <img src="{{ user_profile.profile_picture.url }}" alt="avatar"
                            class="rounded-circle img-fluid" style="width: 150px;">
                            {% endif %}
                            <h4 class="my-3">{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</h5>
                            <p class="text-muted mb-1">({{ user_profile.user.username }})</p>
                            <p class="h5 text-muted mb-4">{{ user_profile.user.institute }}</p>
                        </div>
                        <a href="{% url 'changepassword' %}" class="btn btn-primary btn-lg btn-block">Change Password</a>
                    </div>
                    <!-- subscriptions -->
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <div class="p-2">
                                <h4 class="text-right">Subscriptions</h4>
                            </div>

                            <div class="card-body p-0">
                                {% for course, values in details.items %}
                                    <h6>{{ values.course_object.course_name }}</h6>
                                    <ul class="list-group list-group-flush rounded-3 mb-3">
                                        {% for unit in values.subscribed_units %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                                                <a href="{% url 'dashboard' values.course_object.slug unit.slug %}">{{ unit.unit_name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>

                    <!-- Payments -->
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <div class="p-2">
                                <h4 class="text-right">Payment History</h4>
                            </div>

                            <div class="card-body p-0">
                                <h6></h6>
                                <ul class="list-group list-group-flush rounded-3 mb-3">
                                    {% for payment in payments %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                                            <a href="{% url 'payment_details' payment.id %}"># PaymentID: {{ payment.id }} | Status: {{ payment.display_status }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- infos -->
                <div class="col-lg-8">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <div class="p-3 pb-0">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h3 class="text-right">User Dashboard</h4>
                                </div>
                                <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row mt-2">
                                        <div class="col-md-6"><label class="labels">Name</label>{{ user_form.first_name }}</div>
                                        <div class="col-md-6"><label class="labels">Surname</label>{{ user_form.last_name }}</div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6"><label class="labels">Mobile Number</label>{{ user_form.phone_number }}</div>
                                        <div class="col-md-6"><label class="labels">Profile Picture</label>{{profile_form.profile_picture}}</div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-12 pt-2"><label class="labels">Email Address</label><input type="text" class="form-control" placeholder="{{ user_profile.user.email}}" disabled></div>
                                        <div class="col-md-12 pt-2"><label class="labels">Education</label>{{ user_form.institute }}</div>
                                    </div>

                                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                                </form>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>


{% endblock %} 