{% extends 'base.html' %}
{% load static %}

{% block content %}
     <div class="mt-3 display-3 text-center mb-3 mb-lg-5">Reset Password</div>
    <div class="container mt-3 mb-4">
        <div class="row justify-content-around">
            <!-- Login/Register -->
            <div class="col-lg-6 col-md-8">
                <div class="card mb-4 shadow">
                    <div class="card-body">
                        {% include 'includes/alerts.html' %}
                            <form class="px-md-2 px-lg-5" action = "{% url 'resetpassword' %}" method = "POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                  <label for="exampleInputEmail1" class="form-label">New Password</label>
                                  <input type="password" class="form-control" id="exampleInputEmail1" name = "password">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Confirm New Password</label>
                                    <input type="password" class="form-control" id="exampleInputEmail1" name = "confirm_password">
                                  </div>
                                <div class="text-end">
                                    <button type="submit" class="btn btn-success">Update Password</button>
                                </div>
                                
                            </form>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
{% endblock %} 