{% extends 'base.html' %}
{% load static %}

    
    {% block content %}
    <!-- header -->
    <div class="enroll-base">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="100%" height="auto" preserveAspectRatio="none" viewBox="0 0 1440 560" margin="0 auto">
            <g mask="url(&quot;#SvgjsMask1002&quot;)" fill="none">
                <path d="M-54.19 352.5L-54.19 352.5" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M-54.19 352.5L79.23 342.52" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M-54.19 352.5L-60.12 524.79" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M-54.19 352.5L250.16 389.55" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M-54.19 352.5L-48.57 685.47" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M-54.19 352.5L48.41 694.7" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M-54.19 352.5L257.25 537.41" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M-60.12 524.79L-60.12 524.79" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M-60.12 524.79L-48.57 685.47" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M-48.57 685.47L-48.57 685.47" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M-48.57 685.47L48.41 694.7" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M-48.57 685.47L218.12 701.68" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M-48.57 685.47L257.25 537.41" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M-48.57 685.47L79.23 342.52" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M79.23 342.52L79.23 342.52" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M79.23 342.52L250.16 389.55" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M79.23 342.52L-60.12 524.79" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M48.41 694.7L48.41 694.7" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M48.41 694.7L218.12 701.68" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M48.41 694.7L-60.12 524.79" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M48.41 694.7L257.25 537.41" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M250.16 389.55L250.16 389.55" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M250.16 389.55L370.59 353.36" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M250.16 389.55L257.25 537.41" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M257.25 537.41L257.25 537.41" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M257.25 537.41L380.62 516.13" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M218.12 701.68L218.12 701.68" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M218.12 701.68L374.03 688.82" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M218.12 701.68L257.25 537.41" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M218.12 701.68L380.62 516.13" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M370.59 353.36L370.59 353.36" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M370.59 353.36L528.7 387.29" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M370.59 353.36L380.62 516.13" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M370.59 353.36L257.25 537.41" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M380.62 516.13L380.62 516.13" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M380.62 516.13L526.64 507.4" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M380.62 516.13L374.03 688.82" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M374.03 688.82L374.03 688.82" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M374.03 688.82L543.33 654.05" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M374.03 688.82L257.25 537.41" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M374.03 688.82L526.64 507.4" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M528.7 387.29L528.7 387.29" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M528.7 387.29L526.64 507.4" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M528.7 387.29L673.12 346.86" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M528.7 387.29L644.46 498.91" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M528.7 387.29L380.62 516.13" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M526.64 507.4L526.64 507.4" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M526.64 507.4L644.46 498.91" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M543.33 654.05L543.33 654.05" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M543.33 654.05L689.77 653.02" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M543.33 654.05L526.64 507.4" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M697.14 204.19L697.14 204.19" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M697.14 204.19L673.12 346.86" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M697.14 204.19L848.97 241.09" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M697.14 204.19L858.14 343.02" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M673.12 346.86L673.12 346.86" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M644.46 498.91L644.46 498.91" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M644.46 498.91L673.12 346.86" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M644.46 498.91L689.77 653.02" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M644.46 498.91L543.33 654.05" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M689.77 653.02L689.77 653.02" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M689.77 653.02L808.2 660.23" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M848.97 241.09L848.97 241.09" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M848.97 241.09L858.14 343.02" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M848.97 241.09L978.07 232.02" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M848.97 241.09L964.47 391.39" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M858.14 343.02L858.14 343.02" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M858.14 343.02L964.47 391.39" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M858.14 343.02L978.07 232.02" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M858.14 343.02L673.12 346.86" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M858.14 343.02L937.87 529.77" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M858.14 343.02L834.22 546.78" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M834.22 546.78L834.22 546.78" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M834.22 546.78L937.87 529.77" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M834.22 546.78L808.2 660.23" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M834.22 546.78L689.77 653.02" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M834.22 546.78L644.46 498.91" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M834.22 546.78L964.47 391.39" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M808.2 660.23L808.2 660.23" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M995.79 -52.73L995.79 -52.73" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M995.79 -52.73L1095.61 -38.36" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M995.79 -52.73L963.66 55.96" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M963.66 55.96L963.66 55.96" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M963.66 55.96L1095.61 -38.36" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M963.66 55.96L978.07 232.02" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M963.66 55.96L1141.64 38.41" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M963.66 55.96L848.97 241.09" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M978.07 232.02L978.07 232.02" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M978.07 232.02L964.47 391.39" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M978.07 232.02L1148.24 209.34" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M964.47 391.39L964.47 391.39" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M964.47 391.39L937.87 529.77" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M964.47 391.39L1107.52 397.31" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M937.87 529.77L937.87 529.77" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1001.45 699.75L1001.45 699.75" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1001.45 699.75L1116.24 701.99" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1001.45 699.75L937.87 529.77" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1001.45 699.75L808.2 660.23" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1001.45 699.75L1132.84 538.87" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1095.61 -38.36L1095.61 -38.36" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1095.61 -38.36L1141.64 38.41" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1141.64 38.41L1141.64 38.41" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1141.64 38.41L1256.78 93.35" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1141.64 38.41L1148.24 209.34" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1148.24 209.34L1148.24 209.34" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1148.24 209.34L1256.78 93.35" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1148.24 209.34L1306.88 255.7" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1107.52 397.31L1107.52 397.31" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1132.84 538.87L1132.84 538.87" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1132.84 538.87L1238.45 515.2" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1132.84 538.87L1107.52 397.31" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1132.84 538.87L1116.24 701.99" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1132.84 538.87L937.87 529.77" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1132.84 538.87L1300.7 644.51" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1116.24 701.99L1116.24 701.99" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1244.32 -101.04L1244.32 -101.04" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1244.32 -101.04L1095.61 -38.36" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1244.32 -101.04L1141.64 38.41" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1244.32 -101.04L1416.29 -44.66" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1256.78 93.35L1256.78 93.35" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1256.78 93.35L1395.01 102.64" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1306.88 255.7L1306.88 255.7" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1306.88 255.7L1452.85 216.48" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1306.88 255.7L1297.01 406.96" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1297.01 406.96L1297.01 406.96" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1297.01 406.96L1394.46 388.67" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1297.01 406.96L1238.45 515.2" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1297.01 406.96L1107.52 397.31" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1297.01 406.96L1436.61 553.44" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1297.01 406.96L1132.84 538.87" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1238.45 515.2L1238.45 515.2" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1238.45 515.2L1300.7 644.51" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1238.45 515.2L1107.52 397.31" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1238.45 515.2L1394.46 388.67" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1300.7 644.51L1300.7 644.51" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1300.7 644.51L1437.75 690.47" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1300.7 644.51L1436.61 553.44" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1300.7 644.51L1116.24 701.99" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1416.29 -44.66L1416.29 -44.66" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1416.29 -44.66L1395.01 102.64" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1416.29 -44.66L1594.04 -94.74" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1416.29 -44.66L1256.78 93.35" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1416.29 -44.66L1579.61 102.42" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1416.29 -44.66L1452.85 216.48" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1395.01 102.64L1395.01 102.64" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1395.01 102.64L1452.85 216.48" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1395.01 102.64L1306.88 255.7" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1395.01 102.64L1554.52 195.38" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1395.01 102.64L1579.61 102.42" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1452.85 216.48L1452.85 216.48" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1452.85 216.48L1554.52 195.38" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1452.85 216.48L1579.61 102.42" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1452.85 216.48L1394.46 388.67" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1394.46 388.67L1394.46 388.67" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1394.46 388.67L1306.88 255.7" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1394.46 388.67L1436.61 553.44" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1436.61 553.44L1436.61 553.44" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1436.61 553.44L1437.75 690.47" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1436.61 553.44L1593.9 511.24" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1437.75 690.47L1437.75 690.47" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1437.75 690.47L1597.49 664.03" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1437.75 690.47L1593.9 511.24" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1437.75 690.47L1238.45 515.2" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1594.04 -94.74L1594.04 -94.74" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1594.04 -94.74L1579.61 102.42" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1594.04 -94.74L1395.01 102.64" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1594.04 -94.74L1554.52 195.38" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1579.61 102.42L1579.61 102.42" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1579.61 102.42L1554.52 195.38" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1554.52 195.38L1554.52 195.38" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1554.52 195.38L1610.1 363.01" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1610.1 363.01L1610.1 363.01" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1610.1 363.01L1593.9 511.24" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1610.1 363.01L1452.85 216.48" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1610.1 363.01L1394.46 388.67" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1593.9 511.24L1593.9 511.24" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1593.9 511.24L1597.49 664.03" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1593.9 511.24L1394.46 388.67" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1597.49 664.03L1597.49 664.03" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1597.49 664.03L1436.61 553.44" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1597.49 664.03L1300.7 644.51" stroke="#132e65" stroke-width="1.5"></path>
                <path d="M1597.49 664.03L1610.1 363.01" stroke="#132e65" stroke-width="1.5"></path>
                <circle r="5" cx="-54.19" cy="352.5" fill="#132e65"></circle>
                <circle r="5" cx="-60.12" cy="524.79" fill="#132e65"></circle>
                <circle r="5" cx="-48.57" cy="685.47" fill="#132e65"></circle>
                <circle r="5" cx="79.23" cy="342.52" fill="#132e65"></circle>
                <circle r="5" cx="48.41" cy="694.7" fill="#132e65"></circle>
                <circle r="5" cx="250.16" cy="389.55" fill="#132e65"></circle>
                <circle r="5" cx="257.25" cy="537.41" fill="#132e65"></circle>
                <circle r="5" cx="218.12" cy="701.68" fill="#132e65"></circle>
                <circle r="5" cx="370.59" cy="353.36" fill="#132e65"></circle>
                <circle r="5" cx="380.62" cy="516.13" fill="#132e65"></circle>
                <circle r="5" cx="374.03" cy="688.82" fill="#132e65"></circle>
                <circle r="5" cx="528.7" cy="387.29" fill="#132e65"></circle>
                <circle r="5" cx="526.64" cy="507.4" fill="#132e65"></circle>
                <circle r="5" cx="543.33" cy="654.05" fill="#132e65"></circle>
                <circle r="5" cx="697.14" cy="204.19" fill="#132e65"></circle>
                <circle r="5" cx="673.12" cy="346.86" fill="#132e65"></circle>
                <circle r="5" cx="644.46" cy="498.91" fill="#132e65"></circle>
                <circle r="5" cx="689.77" cy="653.02" fill="#132e65"></circle>
                <circle r="5" cx="848.97" cy="241.09" fill="#132e65"></circle>
                <circle r="5" cx="858.14" cy="343.02" fill="#132e65"></circle>
                <circle r="5" cx="834.22" cy="546.78" fill="#132e65"></circle>
                <circle r="5" cx="808.2" cy="660.23" fill="#132e65"></circle>
                <circle r="5" cx="995.79" cy="-52.73" fill="#132e65"></circle>
                <circle r="5" cx="963.66" cy="55.96" fill="#132e65"></circle>
                <circle r="5" cx="978.07" cy="232.02" fill="#132e65"></circle>
                <circle r="5" cx="964.47" cy="391.39" fill="#132e65"></circle>
                <circle r="5" cx="937.87" cy="529.77" fill="#132e65"></circle>
                <circle r="5" cx="1001.45" cy="699.75" fill="#132e65"></circle>
                <circle r="5" cx="1095.61" cy="-38.36" fill="#132e65"></circle>
                <circle r="5" cx="1141.64" cy="38.41" fill="#132e65"></circle>
                <circle r="5" cx="1148.24" cy="209.34" fill="#132e65"></circle>
                <circle r="5" cx="1107.52" cy="397.31" fill="#132e65"></circle>
                <circle r="5" cx="1132.84" cy="538.87" fill="#132e65"></circle>
                <circle r="5" cx="1116.24" cy="701.99" fill="#132e65"></circle>
                <circle r="5" cx="1244.32" cy="-101.04" fill="#132e65"></circle>
                <circle r="5" cx="1256.78" cy="93.35" fill="#132e65"></circle>
                <circle r="5" cx="1306.88" cy="255.7" fill="#132e65"></circle>
                <circle r="5" cx="1297.01" cy="406.96" fill="#132e65"></circle>
                <circle r="5" cx="1238.45" cy="515.2" fill="#132e65"></circle>
                <circle r="5" cx="1300.7" cy="644.51" fill="#132e65"></circle>
                <circle r="5" cx="1416.29" cy="-44.66" fill="#132e65"></circle>
                <circle r="5" cx="1395.01" cy="102.64" fill="#132e65"></circle>
                <circle r="5" cx="1452.85" cy="216.48" fill="#132e65"></circle>
                <circle r="5" cx="1394.46" cy="388.67" fill="#132e65"></circle>
                <circle r="5" cx="1436.61" cy="553.44" fill="#132e65"></circle>
                <circle r="5" cx="1437.75" cy="690.47" fill="#132e65"></circle>
                <circle r="5" cx="1594.04" cy="-94.74" fill="#132e65"></circle>
                <circle r="5" cx="1579.61" cy="102.42" fill="#132e65"></circle>
                <circle r="5" cx="1554.52" cy="195.38" fill="#132e65"></circle>
                <circle r="5" cx="1610.1" cy="363.01" fill="#132e65"></circle>
                <circle r="5" cx="1593.9" cy="511.24" fill="#132e65"></circle>
                <circle r="5" cx="1597.49" cy="664.03" fill="#132e65"></circle>
                <path d="M47.43 711.18L47.43 711.18" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M47.43 711.18L-47.42 657.2" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M47.43 711.18L207.78 668.16" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M47.43 711.18L-40.65 539.98" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M490.65 699.01L490.65 699.01" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M490.65 699.01L396.31 659.4" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M490.65 699.01L500.92 498.26" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M490.65 699.01L373.43 521.91" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M490.65 699.01L669.23 552.81" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M490.65 699.01L207.78 668.16" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M490.65 699.01L790.97 679.59" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M799.21 524.63L799.21 524.63" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M799.21 524.63L669.23 552.81" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M799.21 524.63L790.97 679.59" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M964.57 518.62L964.57 518.62" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M964.57 518.62L939.49 359.88" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1091.23 382.15L1091.23 382.15" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1091.23 382.15L1143.8 495.15" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1091.23 382.15L1113.37 245.96" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1091.23 382.15L939.49 359.88" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1143.8 495.15L1143.8 495.15" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1143.8 495.15L1266.82 522.01" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1143.8 495.15L1154.14 650.87" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1412.61 259.4L1412.61 259.4" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1412.61 259.4L1294.37 252.09" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1412.61 259.4L1431.87 389.15" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1412.61 259.4L1569.39 196.29" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1412.61 259.4L1307.22 409.26" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1412.61 259.4L1549.38 397.52" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M-40.65 539.98L-40.65 539.98" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M-40.65 539.98L68.15 510.48" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M-40.65 539.98L-47.42 657.2" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M-47.42 657.2L-47.42 657.2" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M-47.42 657.2L68.15 510.48" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M-47.42 657.2L207.78 668.16" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M-47.42 657.2L204.47 500.18" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M-47.42 657.2L373.43 521.91" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M68.15 510.48L68.15 510.48" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M68.15 510.48L204.47 500.18" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M68.15 510.48L47.43 711.18" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M204.47 500.18L204.47 500.18" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M204.47 500.18L207.78 668.16" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M204.47 500.18L373.43 521.91" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M207.78 668.16L207.78 668.16" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M373.43 521.91L373.43 521.91" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M373.43 521.91L500.92 498.26" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M373.43 521.91L396.31 659.4" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M373.43 521.91L207.78 668.16" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M373.43 521.91L669.23 552.81" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M396.31 659.4L396.31 659.4" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M396.31 659.4L207.78 668.16" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M396.31 659.4L500.92 498.26" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M396.31 659.4L204.47 500.18" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M500.92 498.26L500.92 498.26" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M500.92 498.26L669.23 552.81" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M500.92 498.26L204.47 500.18" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M500.92 498.26L799.21 524.63" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M669.23 552.81L669.23 552.81" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M669.23 552.81L790.97 679.59" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M790.97 679.59L790.97 679.59" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M790.97 679.59L958.24 692.38" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M939.49 359.88L939.49 359.88" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M939.49 359.88L1113.37 245.96" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M939.49 359.88L799.21 524.63" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M939.49 359.88L1143.8 495.15" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M939.49 359.88L669.23 552.81" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M958.24 692.38L958.24 692.38" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M958.24 692.38L964.57 518.62" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M958.24 692.38L1154.14 650.87" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M958.24 692.38L799.21 524.63" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M958.24 692.38L1143.8 495.15" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M958.24 692.38L669.23 552.81" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1113.37 245.96L1113.37 245.96" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1113.37 245.96L1294.37 252.09" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1154.14 650.87L1154.14 650.87" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1154.14 650.87L1303.69 668.9" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1154.14 650.87L1266.82 522.01" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1154.14 650.87L964.57 518.62" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1154.14 650.87L1091.23 382.15" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1300.43 -96.99L1300.43 -96.99" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1300.43 -96.99L1402.73 -64.12" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1300.43 -96.99L1295.39 85.92" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1300.43 -96.99L1449.93 58.3" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1300.43 -96.99L1575.3 -76.54" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1300.43 -96.99L1542.23 72.82" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1300.43 -96.99L1294.37 252.09" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1295.39 85.92L1295.39 85.92" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1295.39 85.92L1449.93 58.3" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1295.39 85.92L1294.37 252.09" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1295.39 85.92L1402.73 -64.12" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1295.39 85.92L1412.61 259.4" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1294.37 252.09L1294.37 252.09" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1294.37 252.09L1307.22 409.26" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1307.22 409.26L1307.22 409.26" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1307.22 409.26L1266.82 522.01" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1307.22 409.26L1431.87 389.15" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1307.22 409.26L1440.93 511.16" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1307.22 409.26L1143.8 495.15" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1266.82 522.01L1266.82 522.01" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1303.69 668.9L1303.69 668.9" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1303.69 668.9L1266.82 522.01" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1303.69 668.9L1440.93 511.16" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1402.73 -64.12L1402.73 -64.12" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1402.73 -64.12L1449.93 58.3" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1402.73 -64.12L1575.3 -76.54" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1402.73 -64.12L1542.23 72.82" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1449.93 58.3L1449.93 58.3" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1449.93 58.3L1542.23 72.82" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1449.93 58.3L1569.39 196.29" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1431.87 389.15L1431.87 389.15" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1431.87 389.15L1549.38 397.52" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1431.87 389.15L1440.93 511.16" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1440.93 511.16L1440.93 511.16" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1575.3 -76.54L1575.3 -76.54" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1575.3 -76.54L1542.23 72.82" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1542.23 72.82L1542.23 72.82" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1542.23 72.82L1569.39 196.29" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1542.23 72.82L1412.61 259.4" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1569.39 196.29L1569.39 196.29" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1549.38 397.52L1549.38 397.52" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1549.38 397.52L1564.39 546.97" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1549.38 397.52L1440.93 511.16" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1549.38 397.52L1569.39 196.29" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1564.39 546.97L1564.39 546.97" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <path d="M1564.39 546.97L1440.93 511.16" stroke="hsl(228.5, 77.2%, 51.5%)" stroke-width="1.5"></path>
                <circle r="25" cx="47.43" cy="711.18" fill="url(#SvgjsRadialGradient1003)"></circle>
                <circle r="25" cx="490.65" cy="699.01" fill="url(#SvgjsRadialGradient1003)"></circle>
                <circle r="25" cx="799.21" cy="524.63" fill="url(#SvgjsRadialGradient1003)"></circle>
                <circle r="25" cx="964.57" cy="518.62" fill="url(#SvgjsRadialGradient1003)"></circle>
                <circle r="25" cx="1091.23" cy="382.15" fill="url(#SvgjsRadialGradient1003)"></circle>
                <circle r="25" cx="1143.8" cy="495.15" fill="url(#SvgjsRadialGradient1003)"></circle>
                <circle r="25" cx="1412.61" cy="259.4" fill="url(#SvgjsRadialGradient1003)"></circle>
                <circle r="5" cx="-40.65" cy="539.98" fill="#8b9ad9"></circle>
                <circle r="5" cx="-47.42" cy="657.2" fill="#8b9ad9"></circle>
                <circle r="5" cx="68.15" cy="510.48" fill="#8b9ad9"></circle>
                <circle r="5" cx="204.47" cy="500.18" fill="#8b9ad9"></circle>
                <circle r="5" cx="207.78" cy="668.16" fill="#8b9ad9"></circle>
                <circle r="5" cx="373.43" cy="521.91" fill="#8b9ad9"></circle>
                <circle r="5" cx="396.31" cy="659.4" fill="#8b9ad9"></circle>
                <circle r="5" cx="500.92" cy="498.26" fill="#8b9ad9"></circle>
                <circle r="5" cx="669.23" cy="552.81" fill="#8b9ad9"></circle>
                <circle r="5" cx="790.97" cy="679.59" fill="#8b9ad9"></circle>
                <circle r="5" cx="939.49" cy="359.88" fill="#8b9ad9"></circle>
                <circle r="5" cx="958.24" cy="692.38" fill="#8b9ad9"></circle>
                <circle r="5" cx="1113.37" cy="245.96" fill="#8b9ad9"></circle>
                <circle r="5" cx="1154.14" cy="650.87" fill="#8b9ad9"></circle>
                <circle r="5" cx="1300.43" cy="-96.99" fill="#8b9ad9"></circle>
                <circle r="5" cx="1295.39" cy="85.92" fill="#8b9ad9"></circle>
                <circle r="5" cx="1294.37" cy="252.09" fill="#8b9ad9"></circle>
                <circle r="5" cx="1307.22" cy="409.26" fill="#8b9ad9"></circle>
                <circle r="5" cx="1266.82" cy="522.01" fill="#8b9ad9"></circle>
                <circle r="5" cx="1303.69" cy="668.9" fill="#8b9ad9"></circle>
                <circle r="5" cx="1402.73" cy="-64.12" fill="#8b9ad9"></circle>
                <circle r="5" cx="1449.93" cy="58.3" fill="#8b9ad9"></circle>
                <circle r="5" cx="1431.87" cy="389.15" fill="#8b9ad9"></circle>
                <circle r="5" cx="1440.93" cy="511.16" fill="#8b9ad9"></circle>
                <circle r="5" cx="1575.3" cy="-76.54" fill="#8b9ad9"></circle>
                <circle r="5" cx="1542.23" cy="72.82" fill="#8b9ad9"></circle>
                <circle r="5" cx="1569.39" cy="196.29" fill="#8b9ad9"></circle>
                <circle r="5" cx="1549.38" cy="397.52" fill="#8b9ad9"></circle>
                <circle r="5" cx="1564.39" cy="546.97" fill="#8b9ad9"></circle>
            </g>
            <defs>
                <mask id="SvgjsMask1002">
                    <rect width="1440" height="560" fill="#ffffff"></rect>
                </mask>
                <radialGradient id="SvgjsRadialGradient1003">
                    <stop stop-color="#ffffff" offset="0.1"></stop>
                    <stop stop-color="#1735b3" offset="0.2"></stop>
                    <stop stop-color="rgba(23, 53, 179, 0)" offset="1"></stop>
                </radialGradient>
            </defs>
        </svg>

        <div class="enroll-overlay">
            <p class="h1">Abiduzzaman</p>
            <div class="row gx-0 justify-content-between">
                <p class="card-text h4 col-6 col-lg-6 col-xl-6 col-xxl-6 padding-info intro-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <div class="col-5 col-sm-7 col-lg-8 col-xl-9 col-xxl-9" id="enroll-button">
                    <a class="btn btn-primary" href="{% url 'explore' %}">Explore</a>
                </div>
            </div>
        </div>
        
    </div>


    <!-- categories title -->
    <div class="display-5 text-center my-4 pt-5 pb-lg-5 pb-3">Courses</div>
    <!-- categories card -->
    <div class="container align-self-center mb-3">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-4 justify-content-center" >
            {% for course in courses %}
            <div class="col">
                <div class="card shadow-sm" >
                    <img src="{% if course.course_image %} {{ course.course_image.url }} {% else %} {% static 'card-cap.png' %} {% endif %}" height = "200px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title {% if course.released == False %} text-muted {% endif %}">{{ course.course_name }}</h5>
                        <p class="card-text {% if course.released == False %} text-muted {% endif %}">{{ course.description }}</p>
                        <a href="{% url 'explore' %}" class="btn btn-primary {% if course.released == False %} disabled {% endif %}">Explore</a>
                        {% if course.released == False %} <div class="col card-text text-end text-muted">coming soon...</div> {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>

    <!-- pricing title-->
    <div class="display-5 text-center my-4 pt-5 pb-lg-5 pb-3">Pricing</div>
    <!-- pricing card -->
    <div class="container pb-lg-3">
        <div class="row justify-content-around gy-5">
            {% for course in courses %}
            <div class="col-10 col-md-5 col-lg-3 card text-center border-1 border-primary price-card">
                <p class="h2 card-title pt-4">{{ course.course_name}}</p>
                <div class="card-body">
                    <span class="display-5">৳ {{ course.course_price }}</span> <span class="h5 fw-bold"></span>
                    <ul class="card-text py-3 list-unstyled h5">
                        <li>{{ course.course_feature_1 }}</li>
                        <li>{{ course.course_feature_2 }}</li>
                        <li>{{ course.course_feature_3 }}</li>
                    </ul>
                    <a href="{% url 'payment' %}" class="btn btn-outline-primary rounded-pill col-6 {% if course.released == False %} disabled {% endif %}" >{% if course.released == False %} Coming Soon {% else %}Enroll{% endif %}</a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

   

    {% endblock content %}

    